<div class="todos">
    <form (submit)="addTask()">
        <input 
        type="text"
        name="inputTodo"
        placeholder="Enter your Task"
        class="todo-input"
        [(ngModel)]="inputTodo"
        />
        <input 
        type="submit"
        value="Add Task"
        class="todo-submit"
        />
    </form>
</div>
<div class="todos" *ngFor="let todo of todos; let i =index;" class="todo{{ (todo.completed ? 'done' : '')}}">
        <div class="id">{{ i }}</div>
        <div class="content" (click)="toggleDone(i)">{{ todo.task }}</div>
        <button class="deleter" (click)="deleteTask(todo)">Remove</button>
        <button class="editer" (click)="edit(todo)">Edit</button>
        <input type="checkbox" class="check" [(ngModel)]="isCheck" (change)="toggleCheckbox()"> Completed
</div>


